* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --primary-color: #00c4f4;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Outfit", sans-serif;
  background: #030b15;
}

.header-title {
  background: linear-gradient(to right, #00c4f4, #0073a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mr {
  margin-right: 15px;
}
.ml {
  margin-left: 15px;
}
.mt {
  margin-top: 15px;
}
.mb {
  margin-bottom: 15px;
}

.nav-item {
  color: white;
  font-size: 18px;
  margin-right: 25px;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-item:hover {
  background: linear-gradient(to right, #00c4f4, #0073a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  color: white;
  font-size: 32px;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8;
}

.btn {
  font-family: "Rubik", sans-serif;
  border: none;
  background: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.primary-btn {
  background: linear-gradient(to right, #00c4f4, #0073a6);
  border-radius: 10px 12px;
  font-size: 16px;
  padding: 11px;
  color: white;
}

.outlined-btn {
  background: transparent;
  padding: 9px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  color: white;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 700;
}

.detail-item {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

.sub-title {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 500;
}

.detail-p {
  color: white;
  font-weight: 400;
  font-size: 16px;
}

.med-cat-title {
  color: white;
  font-weight: 600;
  font-size: 22px;
}



.scroll-y {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #00C4F4;
  border-radius: 6px;
}

::-moz-scrollbar {
  width: 8px;
  border-radius: 6px;
}

::-moz-scrollbar-track {
  background-color: #FFFFFF;
  border-radius: 6px;
}

::-moz-scrollbar-thumb {
  background-color: #00C4F4;
  border-radius: 6px;
}


.market-update-table {
  background-color: #030b15;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.market-update-table::-webkit-scrollbar {
  display: none;
}




table {
  width: 100%;
  border-collapse: collapse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

thead {
  background: linear-gradient(to right, #00c4f4, #0073a6);
}

th,
td {
  padding: 20px;
  color: white;
}

th {
  font-weight: bold;
  color: white;
  font-size: 22px;
}

tbody tr td:not(:first-child) {
  text-align: center;
}

tbody tr td {
  font-size: 20px;
}

tbody tr {
  border-bottom: 2px solid #0073a6;
  cursor: pointer;
  transition: 0.3s ease-out;
}

tbody tr:hover {
  background: rgba(0, 115, 166, 0.3);
}

tbody tr td:nth-child(3) {
  color: var(--primary-color);
}

thead tr th:first-child {
  text-align: left;
}

tbody tr td:first-child {
  display: flex;
  align-items: center;
}

table img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.main-input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  padding-left: 15px;
}

.main-input::placeholder {
  font-size: 16px;
}
